.profile__edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 0;
    background-image: url('../../../images/pen.svg');
    background-position: center;
    background-size: 10px 10px;
    background-color: transparent;
    background-repeat: no-repeat;
}
.profile__edit-button:hover {
    opacity: .6;
}
@media screen and (max-width: 680px) {
    .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: 7px 7px;
    }
}