.popup__icon {
	position: absolute;
	right: -40px;
	top: -40px;
}
.popup__icon:hover {
	opacity: .6;
}
@media screen and (max-width: 680px) {
	.popup__icon{
		top: -16;
		right: 0;
		width: 20px;
		height: 20px;
	}
}