.popup__input-professional {
	width: 358px;
	height: 27px;
	margin-bottom: 48px;
	box-sizing: border-box;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 680px){
	.popup__input-professional {
		width: 238px;
		height: 27px;
	}
}