.elements {
  min-height: 35vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  justify-content: center;
} 
/* .elements {
  display: flex;
  justify-content: center;
} */