.elements__like_active {
  width: 27px;
  height: 19px;
  background-image: url(../../../../images/elements__like_active.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.elements__like_active:hover {
  opacity: 50%;
  cursor: pointer;
}
